@font-face {
	font-family: 'Rotondac';
	src: url('../fonts/rotondac/Rotondac.eot');
	src: local('☺'), url('../fonts/rotondac/Rotondac.woff') format('woff'), url('../fonts/rotondac/Rotondac.ttf') format('truetype'), url('../fonts/rotondac/Rotondac.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p8dks7');
  src:  url('../fonts/icomoon.eot?p8dks7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p8dks7') format('truetype'),
    url('../fonts/icomoon.woff?p8dks7') format('woff'),
    url('../fonts/icomoon.svg?p8dks7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  // speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-check:before {
  content: "\f00c";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-location:before {
  content: "\e947";
}
