.page-portfolio {
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: center;
  background-color: #f9fafd;
}
.portfolio__title {
  margin-bottom: 10px;
}
.worked__slider-portfolio {
  background-color: #fff;
}
// .main-portfolio__item.big-size {
//   img {
//     min-width: 646px;
//     width: 100%;
//     height: auto;
//   }
// }